---
import Footer from "../components/footer.astro";
import Navigation from "../components/navigation.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Denny Setyawan Huda</title>
	</head>
	<body class="min-h-screen flex flex-col bg-dot">
		<Navigation />

		<main class="min-h-screen dark:bg-dark">
			<slot />
		</main>

		<Footer />
	</body>
</html>

<script is:inline>
	const theme = (() => {
		if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
			return localStorage.getItem("theme");
		}
		if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
			return "dark";
		}
		return "light";
	})();

	if (theme === "light") {
		document.documentElement.classList.remove("dark");
	} else {
		document.documentElement.classList.add("dark");
	}

	window.localStorage.setItem("theme", theme);
</script>
